{% script "/templates/Custom-Components/killculator.js", location: "footer", async %}

{% block killculator %}


<div {% if id !=blank %}id="{{ id }}" {% endif %}
    class="flex items-center justify-center mx-auto p-12 w-[100%] h-[38rem] bg-gray-100 ">
    <div class="dropdown mx-10">
        <p class="text-center py-5 text-3xl text ">Den højeste rank</p>
        <span class="rounded-md shadow-sm">

            <button
                class="min-h-[300.8px] w-[500px] px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
                type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                <span id="rankInsert"><img class="max-w-[100%] mx-auto align-middle"
                        src="/assets/rankIkons/Radiant_Rank.png">
                </span>

            </button></span>
        </span>
        <div
            class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-center -translate-y-2 scale-95">
            <div class="absolute right-[-50px] w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                role="menu">
                <div class="py-1">
                    <a onclick="h_rank('Iron_1_Rank', 0, 0)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 1</a>
                    <a onclick="h_rank('Iron_2_Rank', 0, 1)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 2</a>
                    <a onclick="h_rank('Iron_3_Rank', 0, 2)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 3</a>
                    <a onclick="h_rank('Silver_1_Rank', 0, 3)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 1</a>
                    <a onclick="h_rank('Silver_2_Rank', 0, 4)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 2</a>
                    <a onclick="h_rank('Silver_3_Rank', 0, 5)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 3</a>
                    <a onclick="h_rank('Gold_1_Rank', 0, 6)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 1</a>
                    <a onclick="h_rank('Gold_2_Rank', 0, 7)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 2</a>
                    <a onclick="h_rank('Gold_3_Rank', 0, 8)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 3</a>
                    <a onclick="h_rank('Platinum_1_Rank', 0, 9)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 1</a>
                    <a onclick="h_rank('Platinum_2_Rank', 0, 10)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 2</a>
                    <a onclick="h_rank('Platinum_3_Rank', 0, 11)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 3</a>
                    <a onclick="h_rank('Diamond_1_Rank', 0, 12)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 1</a>
                    <a onclick="h_rank('Diamond_2_Rank', 0, 13)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 2</a>
                    <a onclick="h_rank('Diamond_3_Rank', 0, 14)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 3</a>
                    <a onclick="h_rank('Ascendant_1_Rank', 0, 15)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 1</a>
                    <a onclick="h_rank('Ascendant_2_Rank', 0, 16)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 2</a>
                    <a onclick="h_rank('Ascendant_3_Rank', 0, 17)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 3</a>
                    <a onclick="h_rank('Immortal_1_Rank', 0, 18)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 1</a>
                    <a onclick="h_rank('Immortal_2_Rank', 0, 19)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 2</a>
                    <a onclick="h_rank('Immortal_3_Rank', 0, 20)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 3</a>
                    <a onclick="h_rank('Radiant_Rank', 0, 21)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Radiant</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <span class="rounded-md shadow-sm">
            <p class="text-center py-5 text-3xl">Din rank</p>
            <button
                class="min-h-[300.8px] w-[500px] px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
                type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                <span id="rankInsert1"><img class="max-w-[100%] mx-auto align-middle"
                        src="/assets/rankIkons/Iron_1_Rank.png">
                </span>

            </button>
        </span>
        </span>
        <div
            class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-center -translate-y-2 scale-95">
            <div class="absolute right-[-50px] w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                role="menu">
                <div class="py-1">
                    <a onclick="y_rank('Iron_1_Rank', 1, 0)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 1</a>
                    <a onclick="y_rank('Iron_2_Rank', 1, 1)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 2</a>
                    <a onclick="y_rank('Iron_3_Rank', 1, 2)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 3</a>
                    <a onclick="y_rank('Silver_1_Rank', 1, 3)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 1</a>
                    <a onclick="y_rank('Silver_2_Rank', 1, 4)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 2</a>
                    <a onclick="y_rank('Silver_3_Rank', 1, 5)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 3</a>
                    <a onclick="y_rank('Gold_1_Rank', 1, 6)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 1</a>
                    <a onclick="y_rank('Gold_2_Rank', 1, 7)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 2</a>
                    <a onclick="y_rank('Gold_3_Rank', 1, 8)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 3</a>
                    <a onclick="y_rank('Platinum_1_Rank', 1, 9)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 1</a>
                    <a onclick="y_rank('Platinum_2_Rank', 1, 10)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 2</a>
                    <a onclick="y_rank('Platinum_3_Rank', 1, 11)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 3</a>
                    <a onclick="y_rank('Diamond_1_Rank', 1, 12)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 1</a>
                    <a onclick="y_rank('Diamond_2_Rank', 1, 13)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 2</a>
                    <a onclick="y_rank('Diamond_3_Rank', 1, 14)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 3</a>
                    <a onclick="y_rank('Ascendant_1_Rank', 1, 15)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 1</a>
                    <a onclick="y_rank('Ascendant_2_Rank', 1, 16)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 2</a>
                    <a onclick="y_rank('Ascendant_3_Rank', 1, 17)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 3</a>
                    <a onclick="y_rank('Immortal_1_Rank', 1, 18)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 1</a>
                    <a onclick="y_rank('Immortal_2_Rank', 1, 19)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 2</a>
                    <a onclick="y_rank('Immortal_3_Rank', 1, 20)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 3</a>
                    <a onclick="y_rank('Radiant_Rank', 1, 21)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Radiant</a>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="px-7 mx-auto shadow-current text-4xl -mt-16  ">
    <p id="output" class="rounded border bg-white border-1 border-goldish/30 my-1 md:my-0 md:ml-4 p-10 shadow-md">Du
        skal have 42
        mindre kills end højeste rank
    </p>
</div>




<style>
    .dropdown:focus-within .dropdown-menu {
        opacity: 1;
        transform: translate(0) scale(1);
        visibility: visible;
    }
</style>



{% endblock %}