{% script "/templates/Custom-Components/killculator.js", location: "footer", async %}

{% block killculator %}


<div class="flex items-center justify-center mx-auto p-12 w-[300px]">
    <div class="dropdown mx-10">
        <span class="rounded-md shadow-sm">

            <button
                class="w-[200px] px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
                type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                <span id="rankInsert">Choose Highest rank
                </span>

            </button></span>
        </span>
        <div
            class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-center -translate-y-2 scale-95">
            <div class="absolute right-[-50px] w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                role="menu">
                <div class="py-1">
                    <a onclick="h_rank('Iron 1', 0, 0)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 1</a>
                    <a onclick="h_rank('Iron 2', 0, 1)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 2</a>
                    <a onclick="h_rank('Iron 3', 0, 2)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 3</a>
                    <a onclick="h_rank('Silver 1', 0, 3)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 1</a>
                    <a onclick="h_rank('Silver 2', 0, 4)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 2</a>
                    <a onclick="h_rank('Silver 3', 0, 5)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 3</a>
                    <a onclick="h_rank('Gold 1', 0, 6)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 1</a>
                    <a onclick="h_rank('Gold 2', 0, 7)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 2</a>
                    <a onclick="h_rank('Gold 3', 0, 8)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 3</a>
                    <a onclick="h_rank('Platinum 1', 0, 9)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 1</a>
                    <a onclick="h_rank('Platinum 2', 0, 10)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 2</a>
                    <a onclick="h_rank('Platinum 3', 0, 11)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 3</a>
                    <a onclick="h_rank('Diamond 1', 0, 12)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 1</a>
                    <a onclick="h_rank('Diamond 2', 0, 13)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 2</a>
                    <a onclick="h_rank('Diamond 3', 0, 14)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 3</a>
                    <a onclick="h_rank('Ascendant 1', 0, 15)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 1</a>
                    <a onclick="h_rank('Ascendant 2', 0, 16)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 2</a>
                    <a onclick="h_rank('Ascendant 3', 0, 17)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 3</a>
                    <a onclick="h_rank('Immortal 1', 0, 18)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 1</a>
                    <a onclick="h_rank('Immortal 2', 0, 19)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 2</a>
                    <a onclick="h_rank('Immortal 3', 0, 20)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 3</a>
                    <a onclick="h_rank('Radiant', 0, 21)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Radiant</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <span class="rounded-md shadow-sm">

            <button
                class="w-[200px] px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
                type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                <span id="rankInsert1">Choose your rank
                </span>

            </button></span>
        </span>
        <div
            class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-center -translate-y-2 scale-95">
            <div class="absolute right-[-50px] w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                role="menu">
                <div class="py-1">
                    <a onclick="y_rank('Iron 1', 1, 0)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 1</a>
                    <a onclick="y_rank('Iron 2', 1, 1)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 2</a>
                    <a onclick="y_rank('Iron 3', 1, 2)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-center"
                        role="menuitem">Iron 3</a>
                    <a onclick="y_rank('Silver 1', 1, 3)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 1</a>
                    <a onclick="y_rank('Silver 2', 1, 4)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 2</a>
                    <a onclick="y_rank('Silver 3', 1, 5)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Silver 3</a>
                    <a onclick="y_rank('Gold 1', 1, 6)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 1</a>
                    <a onclick="y_rank('Gold 2', 1, 7)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 2</a>
                    <a onclick="y_rank('Gold 3', 1, 8)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Gold 3</a>
                    <a onclick="y_rank('Platinum 1', 1, 9)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 1</a>
                    <a onclick="y_rank('Platinum 2', 1, 10)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 2</a>
                    <a onclick="y_rank('Platinum 3', 1, 11)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Platinum 3</a>
                    <a onclick="y_rank('Diamond 1', 1, 12)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 1</a>
                    <a onclick="y_rank('Diamond 2', 1, 13)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 2</a>
                    <a onclick="y_rank('Diamond 3', 1, 14)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Diamond 3</a>
                    <a onclick="y_rank('Ascendant 1', 1, 15)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 1</a>
                    <a onclick="y_rank('Ascendant 2', 1, 16)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 2</a>
                    <a onclick="y_rank('Ascendant 3', 1, 17)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Ascendant 3</a>
                    <a onclick="y_rank('Immortal 1', 1, 18)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 1</a>
                    <a onclick="y_rank('Immortal 2', 1, 19)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 2</a>
                    <a onclick="y_rank('Immortal 3', 1, 20)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Immortal 3</a>
                    <a onclick="y_rank('Radiant', 1, 21)" tabindex="0"
                        class="text-gray-700 flex justify-between cursor-pointer w-full px-4 py-2 text-sm leading-5 text-left"
                        role="menuitem">Radiant</a>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="output" class="px-7 mx-auto">Mangler data</div>













<style>
    .dropdown:focus-within .dropdown-menu {
        opacity: 1;
        transform: translate(0) scale(1);
        visibility: visible;
    }
</style>



{% endblock %}